<a href="https://colab.research.google.com/github/Worachet-Ch/data_viz_2022/blob/main/Basic_Programing_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function ($f(x) = y$)

```python
def function (inputx):
    #do someting with input_x to get output_y
    return output_y
```

$f_1(x) = x^2 + 75$

In [13]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

print('done!')

done!

In [14]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name() : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input $input$:(ขาดได้)
3. ส่วนประมวลผล do_something with input to get Output (ขาดไม่ได้)
4. ส่วน output return Output (ขาดไม่ได้)

### function ที่มีส่วนประกอบ

In [15]:
def function_f1(x): #ส้ราง function ชื่อ function_f1 รับตัวแปร x
    a = x**2 # a = x ที่รับค่ามายกกำลัง  2
    y = a + 75 #พอได้ค่า a ให้เอามาหา a
    return y

### ตัวอย่าง function ที่ไม่มี input

In [16]:
def pi_v(): #สร้าง function ชื่อ pi_v รับค่าว่าง 
  y = 3.14529265359 #  y = pi
  return y # โชว์ y

In [17]:
piv = pi_v
cricle_area_r2 = piv()*(2**2)
print(cricle_area_r2)

12.58117061436

### Function ไม่มี process ไม่ได้

In [19]:
def function a():

SyntaxError: ignored

### ตัวอย่าง Function ที่ไม่มี output

In [20]:
def print_name_id(name,id): #สร้าง function รับค่าชื่อ กับ id
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [21]:
print_name_id('วรเชษฐ์','623020449-0')

ชื่อ วรเชษฐ์ รหัสประจำตัว 623020449-0

In [22]:
a = print_name_id('วรเชษฐ์','623020449-0')

ชื่อ วรเชษฐ์ รหัสประจำตัว 623020449-0

In [23]:
print('วรเชษฐ์','623020449-0')

วรเชษฐ์ 623020449-0

In [24]:
print('วรเชษฐ์','623020449-0',sep=' & ')

วรเชษฐ์ & 623020449-0

### ตัวอย่าง function print

In [25]:
print('วรเชษฐ์',end='->')
print('623020449-0')

วรเชษฐ์->623020449-0

## input ของ function แบ่งเป็น 2 ชนิด(จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [26]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [27]:
print_grade('วรเชษฐ์ แก้วเกิด','623020449-0')

รหัสประจำตัว 623020449-0 ชื่อ วรเชษฐ์ แก้วเกิด
ได้เกรด F

In [28]:
print_grade('วรเชษฐ์ แก้วเกิด','623020449-0','A')

รหัสประจำตัว 623020449-0 ชื่อ วรเชษฐ์ แก้วเกิด
ได้เกรด A

In [29]:
print_grade(id='623020449-0',name= 'worachet',grade='B')

รหัสประจำตัว 623020449-0 ชื่อ worachet
ได้เกรด B

# Looping (for)

```python
for member in listEx:
  do_something()
```

In [30]:
for member in [1,2,3,4,5,6]: 
  print(member)

1
2
3
4
5
6

In [31]:
def print_name(name):
  print(f'ฉันชื่อ {name}')

In [32]:
for name in ['วรเชษฐ์','ญาดา','สุวรีย์','วีระพล','คำแสน']:
  N = name
  print_name(N)

ฉันชื่อ วรเชษฐ์
ฉันชื่อ ญาดา
ฉันชื่อ สุวรีย์
ฉันชื่อ วีระพล
ฉันชื่อ คำแสน

In [33]:
list_name_id_grade = [['เบญญาภา','28458','B'],
                      ['เขมอัปสร','25464','A'],
                      ['ปลายฟ้า','24846','B+']]

In [34]:
for each in list_name_id_grade:
  name = each[0]
  id = each[1]
  grade = each[2]
  print_grade(name,id,grade)
  print('-----------')

รหัสประจำตัว 28458 ชื่อ เบญญาภา
ได้เกรด B
-----------
รหัสประจำตัว 25464 ชื่อ เขมอัปสร
ได้เกรด A
-----------
รหัสประจำตัว 24846 ชื่อ ปลายฟ้า
ได้เกรด B+
-----------

##ใช้ for loop เพิ่มสมาชิกใน list

In [37]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade: #วนลูป  each ใน list_name_id_grade
  list_name.append(each[0]) #แสดงlist_name indexที่ 0
  list_id.append(each[1])  #แสดงlist_id indexที่ 1
  list_grade.append(each[2])  #แสดงlist_grade indexที่ 2

In [36]:
list_name

['เบญญาภา', 'เขมอัปสร', 'ปลายฟ้า']

### การวนลูปด้วย `range()`

In [38]:
for i in range(100): #วนลูป 100 ครั้ง
  print('งง',end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

### Loop ซ้อน Loop

In [39]:
for mem1 in range(2,5): #[2,3,4,]:
  print(f'now mem1 = {mem1}')
  for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
    print(f'{mem1} x {mem2} = {mem1*mem2}')
  print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [40]:
def print_grade_loop(names,grades):
  for n,g in zip(names,grades):
    print(f'{n} ได้เกรด {g}')

In [41]:
print_grade_loop(list_name,list_grade)

เบญญาภา ได้เกรด B
เขมอัปสร ได้เกรด A
ปลายฟ้า ได้เกรด B+

# Conditional Statement (if)

```python
if condition1:
  do_somthing() ##ถ้า condition 1 เป็นจริงทำ do_something()
elif condition2:
  do_another_thing() ## ถ้า con1 ไม่เป็นจริงแต่ con2 เป็นจริง ทำ do_another_thing()
else:
  do_the_last_thing() ## ถ้าไม่มี con ไหนเป็นจริงเลยทำ do_the_last_thing()
```

In [ ]:
for n in list_name:
  if len(n)>7:
    print(f'{n} ได้เกรด A')
  else:
    print(f'{n} ได้เกรด F')

### operator ที่ใช้ตรวจสอบ condition

==, !=,>=, <=, <, >, and, or

In [ ]:
a = 10 == 20
print(a)

In [ ]:
b = 15 <= 20
print(b)

In [ ]:
if a:
  print('x')

In [ ]:
if True: #ตัวอักษรสีน้ำเงินคือตัวแปรพิเศษ
  print('x')

In [ ]:
if a and b:
  print('x')

In [ ]:
if a or b:
  print('x')

# HW
เขียน function ตัดเกรดโดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ ไม่สามารถตัดเกรดได้

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [43]:
def grade_input(score):
  print(f'มีคะแนน {score}')
  for i in score:#เช็คทุกค่าใน score
    if type(i) != int: #ถ้า type ไม่ใช่ตัวเลข ไม่ไปต่อ ตัดเกรดไม่ได้
     print(f'คะแนน {i} ไม่สามารถตัดเกรดได้')  
    elif i >100:
      print (f'คะแนน {i} ไม่สามารถตัดเกรดได้')
    elif i >= 80:
      print(f'คะแนน {i} ได้เกรด A')
    elif i >= 75:
      print(f'คะแนน {i} ได้เกรด B+')
    elif i >= 70:
      print(f'คะแนน {i} ได้เกรด B')
    elif i >= 65:
      print(f'คะแนน {i} ได้เกรด C+')
    elif i >= 60:
      print(f'คะแนน {i} ได้เกรด C')
    elif i >= 55:
      print(f'คะแนน {i} ได้เกรด D+')
    elif i >= 50:
      print(f'คะแนน {i} ได้เกรด D')
    elif i >= 0:
      print(f'คะแนน {i} ได้เกรด F')
    else: #ถ้านอกจากคะแนนพวกนั้นถ้าติดลบ ตัดเกรดไม่ได้
      print(f'คะแนน {i} ไม่สามารถตัดเกรดได้')

In [44]:
 input = [1,50,65,90,101,-5,49,'ก',80]
grade_input(input)

มีคะแนน [1, 50, 65, 90, 101, -5, 49, 'ก', 80]
คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนน 49 ได้เกรด F
คะแนน ก ไม่สามารถตัดเกรดได้
คะแนน 80 ได้เกรด A